{{extend 'layout.html'}}
{{form['_class' ] = 'formulariopaco'}}
{{=H3(T('Datos Profesor/a'))}}
{{=form}}
<table class="tablasgestion">
    <tr class="cabtablasgestion">
        <th>{{=T('Grupos')+': '+str(len(grupos))}}</th>
        <th>{{=T('Departamentos')+': '+str(len(dptos))}}</th>        
    </tr>
    <tr>
        <td>
            {{if len(grupos) > 0:}}
            <ul>
            {{for grupo in grupos:}}
            {{=LI(A(grupo.grupo.grupo, _href=URL('show_group', args=grupo.grupo_profesor.id_curso_academico_grupo)),
            ' (' if grupo.grupo_profesor.id_curso_academico_grupo.id_tutor else ' (Sin asignar tutoría)',
            A(db.profesor(grupo.grupo_profesor.id_curso_academico_grupo.id_tutor).apellidos+', '+db.profesor(grupo.grupo_profesor.id_curso_academico_grupo.id_tutor).nombre,
             _href=URL('show_teacher', args=grupo.grupo_profesor.id_curso_academico_grupo.id_tutor)) if grupo.grupo_profesor.id_curso_academico_grupo.id_tutor else '',
            ')' if grupo.grupo_profesor.id_curso_academico_grupo.id_tutor else '')}}
            {{pass}}
            </ul>
            {{pass}}        
        </td>
        <td>
            {{if len(dptos) > 0:}}
            <ul>
            {{for dpto in dptos:}}
            {{=LI(A(dpto.departamento.departamento, _href=URL('show_departament', args=dpto.departamento_profesor.id_curso_academico_departamento)),
            ' (' if dpto.departamento_profesor.id_curso_academico_departamento.id_jefe else ' (Sin asignar jefatura)',
            A(db.profesor(dpto.departamento_profesor.id_curso_academico_departamento.id_jefe).apellidos+', '+db.profesor(dpto.departamento_profesor.id_curso_academico_departamento.id_jefe).nombre,
             _href=URL('show_teacher', args=dpto.departamento_profesor.id_curso_academico_departamento.id_jefe)) if dpto.departamento_profesor.id_curso_academico_departamento.id_jefe else '',
            ')' if dpto.departamento_profesor.id_curso_academico_departamento.id_jefe else '')}}
            {{pass}}
            </ul>
            {{pass}}        
        </td>
        
    </tr>
</table>
