{{extend 'layout.html'}}

{{form['_class' ] = 'formulariopaco'}}
{{form['_id'] = 'formulariocentro'}}
{{=H3(T('Informes Evaluaciones de mi tutoría')+' '+T('Grupo: ')+session.profesor.tutor.curso)}}
{{=form}}

<script>
	jQuery(document).ready(function(){
		jQuery("#selecttiposinformes").change(function(){
			if (jQuery("#selecttiposinformes").val() == 2 || jQuery("#selecttiposinformes").val() == 3)
				jQuery("#fieldsetescogeevaluacion").hide();
			else
				jQuery("#fieldsetescogeevaluacion").show();
		});
		jQuery("#pideinforme").click(function(){
			console.log("id de grupo -> ", jQuery("#selectgruposinformes").val());
			console.log("id de tipo -> ", jQuery("#selecttiposinformes").val());
			console.log("id de evaluacion -> ", jQuery("#selectevaluacionesinformes").val());
			if (jQuery("#selecttiposinformes").val() == 0)
			    window.open("/gesiesweb/reportspyfpdf/hojasevaluacion/"+jQuery("#selectevaluacionesinformes").val()+"/{{=session.profesor.tutor.id_curso_academico_grupo}}");
			else if (jQuery("#selecttiposinformes").val() == 1)
			    window.open("/gesiesweb/reportspyfpdf/informeevaluacion/"+jQuery("#selectevaluacionesinformes").val()+"/{{=session.profesor.tutor.id_curso_academico_grupo}}");
			else if (jQuery("#selecttiposinformes").val() == 2)
			    window.open("/gesiesweb/reportspyfpdf/informecurso/{{=session.profesor.tutor.id_curso_academico_grupo}}");
			else if (jQuery("#selecttiposinformes").val() == 3)
			    window.open("/gesiesweb/reportspyfpdf/informefichas/{{=session.profesor.tutor.id_curso_academico_grupo}}");			
			return false;
		});		
	})
</script>