<script language="javascript">

    $(document).ready(function() {

        $("#fecharetraso").datepicker({
            showOn: 'focus',
            showAnim: 'fold'
        });         
        //$.getJSON("{{=URL(c='system',f='call',args=['json','getDate'])}}", function(options){
        //        $("#fecharetraso").val(options.fecha);
        //});        
        $("#fecharetraso").datepicker('setDate', '{{=session.fecha_hoy}}');
        
        $("#saveButton").button({ icons: { primary: "ui-icon-disk"}});
        $("#cancelButton")
            .button({ icons: { primary: "ui-icon-close"}})
            .click( function(){ $('#dialog-form').dialog('close'); });              
        $('#foto img').hide();                          

        $("#ajax").ajaxStart(function(){
            $(this).show();
        });

        $("#ajax").ajaxStop(function(){
            $(this).hide();
        });


        $.getJSON("{{=URL(c='services',f='call',args=['json','getGroups'])}}", function(options){
                var opciones = '';    
                for (var i = 0; i < options.options.length; i++) {
                    opciones += '<option value="' + options.options[i].valor + '">' + options.options[i].grupo + '</option>';
                }               
                $("#gruporetraso").html(opciones);
        });  
        
        $("#gruporetraso").change(function(opcion) {
            var grupo = $(this).val();
            $('#foto img').hide().attr('src','');                                     
            $.getJSON("{{=URL(c='services',f='call',args=['json','getStudentsGroup'])}}", {"grupo": grupo }, function(options){
                var opciones = '';    
                for (var i = 0; i < options.options.length; i++) {
                    opciones += '<option value="' + options.options[i].valor + '">' + options.options[i].alumno + '</option>';
                }
                $("#alumnoretraso").html(opciones);
                $("#alumnoretraso").attr('disabled', false).change().focus();
            });
        });      
        
        $("#alumnoretraso").bind("change keyup", function(opcion) {
            var alumno = $(this).val();
			if (alumno == '0' || null)            
                $('#foto img').hide().attr('src','');                                     
            else {                 
                $.getJSON("{{=URL(c='services',f='call',args=['json','getPhotoStudent'])}}", {"alumno": alumno}, function(foto){
                    if (foto.foto.foto != null) {
                        fotog = "/gesiesweb/default/download/"+foto.foto.foto                  
                        $("#foto img").attr('src',fotog).show();                   
                    }
                    else
                        $('#foto img').hide().attr('src','');                                                             
                });                
            };    
        });                              

        $("#selecciones").change(function(event) {
            $('[value="0"]',event.target).remove();
        });    
            
    });

    function restartStyle(){
        $("#form_data p span").css("color","black");
        $('#message').html("");
    }


    function send(){

        restartStyle();
        
        // comprobemos si los valores pasados son validos, comprobación en el lado del cliente
        if ($('#gruporetraso').val() == '0' || $('#alumnoretraso').val() == '0' || $('#fecharetrasos').val() == '') {  
                    jQuery('#message').html("Hay campos vacíos o incorrectos").effect("slide");                                   
        }
        else 

        $.post('{{=URL(c="services",f="call",args=["json","addDelay"])}}', jQuery("#form_data").serialize(), function(result) {
            switch(result.response){
                case "OK":{
                    $('#message').html("Operación realizada correctamente").css("color","green").effect("highlight", {"color":"yellow"}, 1000);
                    //setTimeout("$('#dialog-form').dialog('close')",1000);
                    $("#misretrasos").trigger("reloadGrid");
                    break;
                }
                case "fallo":{
                    $('#message').html("Se produjo un error").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }
                case "duplicado":{
                    $('#message').html("Ya existe ese retraso").effect("highlight", {"color":"yellow"}, 1000);
                    break;
                }                
                default:{
                    $('#'+result.response+"Tag").css("color","red");
                    $('#'+result.response).effect("highlight", {"color":"yellow"}, 1000).focus();
                    $('#message').html("Hay campos vacíos o incorrectos").effect("slide");
                    break;
                }
            }
        });
        
        
        
        return false;
    }
    
</script> 

<form id="form_data" onsubmit="return send();">
    <input type="hidden" id="action" name="action"/>
    <input type="hidden" id="idretraso" name="idretraso"/>    
    <div>
    <div id="selecciones" style="width:75%;float:left;">
   
    <p>
        <label for="gruporetraso">{{=T('Grupo')}}</label>
        <select id="gruporetraso" name="gruporetraso"></select>
        <img style='display:none;' id='ajax' src='/gesiesweb/static/images/ajaxbarras.gif' />                   
    </p>
      
    <p>
        <label for="alumnoretraso">{{=T('Alumno/a')}}</label>
        <select id="alumnoretraso" name="alumnoretraso" disabled="disabled"></select>
    </p>

    <p>
        <label for="fecharetraso">{{=T('Fecha')}}</label>
        <input type="text" id="fecharetraso" name="fecharetraso"/>
    </p>    
<!--    
    <p>
        <label for="justificadoretraso">{{=T('Justified')}}</label>
        <input style="margin-left:5px;" type="checkbox" id="justificadoretraso" name="justificadoretraso"/>
    </p>
-->    
    <p>
        <label for="horaretraso">{{=T('Hora')}}</label>
        <select id="horaretraso" name="horaretraso">
            <option value = '1'>{{=T('Primera')}}</option>
            <option value = '2'>{{=T('Segunda')}}</option>
            <option value = '3'>{{=T('Tercera')}}</option>
            <option value = '4'>{{=T('Cuarta')}}</option>
            <option value = '5'>{{=T('Quinta')}}</option>
            <option value = '6'>{{=T('Sexta')}}</option>
            <option value = '7'>{{=T('Séptima')}}</option>            
        </select>
    </p>
    
    </div>
    
    <div id='foto' style="float:right;">
        <img src='' class='ui-corner-all' style='background-color:#bbb;width:80px;border:solid 1px;padding:5px;'>
    </div>
    </div>
    <div style="clear:both;"></div>
    <div id="message" style="text-align:center; font-weight:bold; color:red; padding:3px; "></div>
    <div style="text-align:center;">
        <button id="saveButton" type="submit" style="width:100px;">{{=T('Enviar')}}</button>&nbsp;&nbsp;<button type="button" id="cancelButton" style="width:100px;">{{=T('Cancelar')}}</button>
    </div>      
</form>
