{{extend 'layout.html'}}

<div id="contenedormievaluacion" class='centerGrid'>       
	<table id='mievaluacion' style='width: 100%'></table>
  <div id='pagermievaluacion'></div>
</div>       

<script language="javascript">


    jQuery(document).ready(function() {
  		  		  		  			  		  		
  		jQuery("#mievaluacion").jqGrid({
        url:'{{=URL(c="services",f="call",args=["json","getMiEvaluacion"])}}?idgrupoprofesorasignatura='+{{=id_grupo_profesor_asignatura}}+'&idevaluacion='+{{=evaluacion.id}},
      	data: "{}",
    		datatype: 'json',
    		mtype: 'GET',
    		contentType: "application/json; charset=utf-8",
    		complete: function(jsondata, stat) {
        		if (stat == "success") {
            		var thegrid = jQuery("#mievaluacion")[0];
            		thegrid.addJSONData(JSON.parse(jsondata.responseText).d);
        		}
    		},
        cellEdit: true,
        cellurl: "{{=URL('services','modificaEvaluacion')}}",
        afterSaveCell : function(rowid,name,val,iRow,iCol) { 
            	// muy lento, habrá que probar alterando en el lado del cliente
            	jQuery("#mievaluacion").trigger("reloadGrid");
        },                       
                       
        colNames:['Alumno/a','Nivel','Tr.Clase','Tr.Casa','Interés','Participa','Comport.','Global','Observac.'],
    		colModel :[ 
            {name:'alumno', index:'alumno',fixed:false,sortable:true,editable:false,align:'left'},                  
            //{name:'nivel', index:'nivel',fixed:true,width:100,sortable:true,editable:true,align:'center',formatter:'select',
            //     edittype:'select', editoptions:{value:"0:Abandono;10:Insuficiente 1;20:Insuficiente 2;30:Insuficiente 3;40:Insuficiente 4;50:Suficiente;60:Bien;70:Notable //7;80:Notable 8;90:Sobresaliente 9;100:Sobresaliente 10"}},
            {name:'nivel', index:'nivel',fixed:true,width:50,sortable:true,align:'right',formatter:'number',
                                       editrules:{required: true,number:true,minValue:0,maxValue:10},editable:true},               
      			{name:'trclase',index:'trclase',fixed:true,width:110,sortable:false,align:'center',editable:true,formatter:'select',
                                       edittype:'select', editoptions:{value:"0:Nunca;50:Casi nunca;75:A veces;100:Habitualmente"}},     
      			{name:'trcasa',index:'trcasa',fixed:true,width:110,sortable:false,align:'center',editable:true,formatter:'select',
                                       edittype:'select', editoptions:{value:"0:Nunca;50:Casi nunca;75:A veces;100:Habitualmente"}},     
      			{name:'interes',index:'interes',fixed:true,width:75,sortable:false,align:'center',editable:true,formatter:'select',
                                       edittype:'select', editoptions:{value:"0:Nada;50:Poco;75:Normal;100:Mucho"}},     
      			{name:'participa',index:'participa',fixed:true,width:75,sortable:false,align:'center',editable:true,formatter:'select',
                                       edittype:'select', editoptions:{value:"0:Nada;50:Poco;75:Normal;100:Mucho"}},     
      			{name:'comportamiento',index:'comportamiento',fixed:true,width:110,sortable:false,editable:true,align:'center',formatter:'select',
                                       edittype:'select', editoptions:{value:"0:Disruptivo;50:Puede mejorar;75:Bueno;100:Muy bueno"}},     
      			{name:'global',index:'global',fixed:true,width:50,sortable:true,editable:false,align:'center'},     
            {name:'observaciones',index:'observaciones',fixed:true,width:80,sortable:false,editable:true,align:'left',edittype:'text'}     
			],
        forceFit: true,
    		autowidth: true,
    		height: '100%',
    		pagerpos: 'center',
        shrinkToFit: true,
    		pager: '#pagermievaluacion',
    		rowNum:15,
        rowList:[15,30,45],
    		sortname: 'alumno',
    		sortorder: 'asc',
    		viewrecords: true,
    		caption: '{{=evaluacion.evaluacion+' ('+(T('Bloqueada') if evaluacion.bloqueada else T('Abierta'))+') '+ T('del grupo')+': '+grupo+' '+T('de la asignatura')+': '+asignatura}}',
    		multiselect: false,

        }); 
        
      jQuery("#mievaluacion").jqGrid('navGrid','#pagermievaluacion',{add:false,edit:false,del:false,view:false,search:false,alertzIndex:1050});
    	gwdthmievaluacion = jQuery("#contenedormievaluacion").width();
    	jQuery("#mievaluacion").jqGrid().setGridWidth(gwdthmievaluacion);
    	//jQuery("#mievaluacion").jqGrid().setGridWidth(965);           

      // ajustemos el estilo del select para que sean más pequeños
      //jQuery(".ui-widget select").css("font-size", ".7em");                    

      //$.extend($.jgrid.jqModal, {zIndex: 1005});


    });
                                    
</script>
